<header class="header-wrap" tabindex="0">
    <div class="header-wrap__logo">
        <img src=".\assets\images\logo.png" alt="logo safra" />
    </div>

    <div class="header-wrap__name-system">
        <span tabindex="0">Controle de custos e proventos</span>
    </div>
    <div class="header-wrap__img-client">
        <span class="header-wrap__name-client" tabindex="0">Olá, Cliente</span>
        <img class="header-wrap__img-circle-header" src=".\assets\images\cliente.jpg" alt="foto do cliente." />
    </div>
</header>