.container-master__header {
    z-index: 2;
}

.container-master__main {
    margin-top: 5.625rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
}

.container-master__main::-webkit-scrollbar-track {
    background-color: transparent;
}

.container-master__main::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.container-master__main::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #6D6D6D;
}

.scroll-wrap::-webkit-scrollbar-track {
    background-color: #EFEFEF;
}

.scroll-wrap::-webkit-scrollbar {
    width: 4px;
}

.scroll-wrap::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #CDCDCD;
}


/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1024px) {
    .container-master {
        display: grid;
        grid-template-rows: 5.75rem calc(100vh - 92px);
        grid-template-columns: 9.375rem calc(100vw - 150px);
    }
    .container-master__header {
        grid-row: 1/1;
        grid-column: span 2;
    }
    .container-master__main {
        margin-top: 0;
        grid-column: 2/2;
        grid-row: 2/2;
        padding: 2rem 4.5rem;
        height: 100%;
    }
    .container-master__menu-lateral {
        display: inline-block;
        grid-row: 2/2;
        grid-column: 1/1;
    }
}


/* 
##Device = Mobile landscape
*/

@media (min-width: 666px) and (max-width: 812px) and (orientation: landscape) {}


/*#endregion medias*/